*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-padding-top: 70px; /* height of sticky header */
    scroll-behavior: smooth;
  }
body{
    margin: 0px;
    margin-bottom: 0;
}
.header-block{
    position: fixed;
    top: 0;
    display: inline-block;
    background-color: white;
    height: 70px;
    width: 100%;
    
}

.logo{
    
    text-align: center;
    float: left;
    padding-left:17.5%;
    padding-top: 15px;

}

.links{
    
    text-align: center;
    float: right;
    padding-right: 16%;
    padding-top: 5px;

}

.links a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: inline-block;
    color: #0a0a0a;
    font-size: 16px;
    padding-top: 10%;
    padding-right: 25px;
    
}

.background-img{
    background-image: url("resources\background-layer.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 750px;
    width: 100%;
   text-align: center;
}

.italic-text{
    position: relative;
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    top: 45%;
    font-style: italic;
    font-size: 15px;
}

#click-to-know-more{
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    top: 50%;
    text-align: center;
    
}

/*---------- About US section -------------*/
.about-us{
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    width: 100%;
    display: inline-block;
}

#about-h{
    
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    color: #139139;
}

.para{
    font-size: 18px;
}

.cards-intro-1{
    width: 100%;
    padding: 60px 60px 60px 60px;

}

.cards-intro-1::after {
    content: "";
    clear: both;
    display: table;
  }
  
.card-div{
    float: left ;
    width: 50%;
    padding: 5px;

}

.card-text{
    width: 640px;
     text-align: left
     ;margin-left: 25px;
     line-height: 1.7em;
}

.card-text p{
    color: darkgrey;
}

/*---------- Award section -------------*/

.award-section{
    background-color:lightgrey;
    width: 100%;
    text-align: center;
    display: inline-block;
    height: 650px;
}

.award-container{
    width: 65%;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    
}

.award-containe::after {
    content: "";
    clear: both;
    display: table;
  }
.award-card-div{
    float: left;
    width: 25%;
    padding: 5px; 
    font-weight: bold;   
}

.award-card-div p{
    color: grey;
}
.award-image{
    height: 150px;
    display: inline-block;
}



/*---------- Contact section -------------*/
.contact-section{
    background-color: #DCDCDC;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.Hubspot-div{
    
    height: 100%;
    width: 35%;
    display: inline-block;
    text-align: right;
    margin-left: 200px;
    margin-top: 80px;
}

.Contact-us-div{
    
    height: 800px;
    width: 40%;
    position: inline-block;
    float: right;
    text-align: left;
    margin-right: 140px;
    margin-top: 20px; 
}
/*Footer class */
footer{
    background-color: #139139;
    width: 100%;
    height: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.F-div1{
    color: white;
    width: 60%;
    text-align: center;
    float: left;
}

.F-div2{
    width: 40%;
    text-align: center;
    float: right;
}

i {
    margin-right: 10px;
  }













